@font-face {
    font-family: noto;
    src: url(../fonts/NotoSans-Light.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Light.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: unica;
    src: url(../fonts/night-in-tokyo.regular.ttf);
}

@font-face {
    font-family: gentle;
    src: url(../fonts/GentlemanRegular.ttf);
}

@font-face {
    font-family: lora;
    src: url(../fonts/Lora/Lora.ttf);
}

@font-face {
    font-family: noto_jp;
    src: url(../fonts/Noto_Serif_JP/NotoSerifJP-Regular.otf);
}

@font-face {
    font-family: kaisei;
    src: url(../fonts/Kaisei_Tokumin/KaiseiTokumin-Regular.ttf);
}

@font-face {
    font-family: yuji;
    src: url(../fonts/YujiSyuku-Regular.ttf);
}

@font-face {
    font-family: genkai;
    src: url(../fonts/genkai-mincho.ttf);
}

@font-face {
    font-family: hk;
    src: url(../fonts/hkhigerei.ttf);
}

@font-face {
    font-family: nt;
    src: url(../fonts/night-in-tokyo.regular.ttf);
}

body {
    font-family: lora;
    background: white;
}   

.main-section {
    gap: 15px;
}
    
.mud-popover:has(.mud-list .main-menu) {
    top: 64px !important;
    position: fixed;
}

.action-button {
    font-family: unica;
    font-weight: bold;
    background: orangered; 
    color: white;
}

.action-button:hover {
    background: black; 
    transform:scale(1.1);
}

@media only screen and (max-width: 600px) {
    .main-section {
    }
}
