@font-face {
    font-family: noto;
    src: url(../fonts/NotoSans-Light.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Light.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: unica;
    src: url(../fonts/UnicaOne-Regular.ttf);
}

@font-face {
    font-family: gentle;
    src: url(../fonts/GentlemanRegular.ttf);
}

@font-face {
    font-family: lora;
    src: url(../fonts/Lora/Lora.ttf);
}

body {
    font-family: lora;
    background: white;

}

.main-section {
    gap: 15px;
}

@media only screen and (max-width: 600px) {
    .main-section {
        margin-top: 60px;
    }
}
