@font-face {
    font-family: noto;
    src: url(../fonts/NotoSans-Light.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Light.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Light.ttf);
}

body {
    font-family: ubuntu;
}
