
<div class="course-item">
    <span class="title">@Title</span>
    <span class="author">@Author</span>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Author { get; set; }
}
