@using Manabu.UseCases.Rehearse.RehearseItems;

<div>
    @if (!IsAlreadyAdded)
    {
        <MudButton Variant=@Variant.Filled DisableElevation=true OnClick=@OnClickInternal Class="action-button">
            Add To Learn
        </MudButton>
    }
    else
    {
        <div style="display: flex; align-items: center; width: 100%; ">
            <MudIcon Icon="@Icons.Material.Outlined.Done" Style="align-self: start; padding-left: 10px; margin-right: 10px; color: green;" />
            <MudText Style="color: green;">Learned</MudText>
        </div>
    }
</div>

@code {
    public delegate Task OnClickDelegate(string itemId);

    [Parameter] public string LearningObjectId { get; set; }
    [Parameter] public string LearningObjectType { get; set; }
    [Parameter] public OnClickDelegate OnClick { get; set; }
    [Parameter] public bool IsAlreadyAdded { get; set; }

    [Inject] public ICommandExecutor CommandExecutor { get; set; }

    public async Task OnClickInternal()
    {
        await CommandExecutor.Execute(new AddLearningObjectForRehearseCommand(
            LearningObjectId, LearningObjectType));

        if (!await UIComponent.InvokeBool(OnClick, LearningObjectId)())
            return;

        IsAlreadyAdded = true;
        await InvokeAsync(StateHasChanged);
    }
}
