@if (Items is null) { return; }
<MudStack Row=true Style="padding: 0px; overflow: hidden;">
    @if (!IsReadonly)
    {
        for (int i = 0; i < Items.Count; i++)
        {
            var item = Items[i];
            string width = item.Value.IsNullOrEmpty() || item.Value.Length < 6 ? "50px" : "fit-content";
            <div style=@($"flex-grow: 0; width: {width}") @onclick:stopPropagation="true" @onclick:preventDefault="true">
                <TextField
                    IsReadonly=IsReadonly
                    IsSmallLabel=true
                    Label=@item.Label
                    Value=@item.Value />
            </div>

            var actualIndex = i;
            <MudIconButton Icon=@Icons.Material.Outlined.Close 
                Style="align-self: end;"
                OnClick=@(() => OnRemove.InvokeAsync(new(ReadingIndex, ParentIndex, actualIndex))) />
        }
    }
    else
    {
        foreach (var item in Items)
        {
            <MudField Label=@(NoLabels ? "" : @item.Label)
                      Variant="Variant.Text"
                      DisableUnderLine=true
                      Style="font-weight: bold; flex-grow: 0;">
                @item.Value
            </MudField>
        }
    }
</MudStack>

@code {
    [Parameter] public int ReadingIndex { get; set; }
    [Parameter] public int ParentIndex { get; set; }
    [Parameter] public bool IsReadonly { get; set; }
    [Parameter] public List<Item> Items { get; set; }
    [Parameter] public bool NoLabels { get; set; } = false;
    [Parameter] public EventCallback<RemoveEventArg> OnRemove { get; set; }

    public record Item(string Label, string Value);
    public record RemoveEventArg(int ReadingIndex, int PersonaIndex, int PersonaItemIndex);
}
