
<h3 class="title">
    @ChildContent
</h3>
<MudDivider Style="margin-bottom: 15px;"/>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    public Task Refresh() => InvokeAsync(StateHasChanged);
}
