<div>

    @if (IsEditing)
    {
        <MudTextField @bind-Value=@_dynamicText
                      Label=@Label
                      Variant="Variant.Text"
                      OnBlur=@OnEditableItemBlur
                      TextChanged=OnTextFieldValueChanged
                      AutoFocus=true />
    }
    else
    {
        <MudField @onclick=OnClickItem
                  Label=@Label
                  Variant="Variant.Text"
                  DisableUnderLine=true
                  Style="font-weight: bold">
            @Value
        </MudField>
    }
</div>

@code {
    public delegate Task<bool> OnEditDelegate(string text);

    [Parameter] public bool IsReadonly { get; set; }
    [Parameter] public bool IsEditing { get; set; }

    [Parameter] public string Label { get; set; } = "";
    [Parameter] public string Value { get; set; } = "";

    [Parameter] public OnEditDelegate OnEdit { get; set; }
    [Parameter] public Action OnBlur { get; set; }

    private string _dynamicText;

    protected override void OnInitialized()
    {
        _dynamicText = Value.Trim();
    }

    private async Task OnTextFieldValueChanged(string value)
    {
        var trimmed = value.Trim();
        if (trimmed == Value)
            return;

        IsEditing = false;
        if (!await UIComponent.InvokeBool(OnEdit, trimmed)())
        {
            _dynamicText = Value;
            return;
        }

        Value = value;
    }

    private void OnEditableItemBlur(FocusEventArgs args)
    {
        IsEditing = false;
        OnBlur?.Invoke();
    }

    private async Task OnClickItem(MouseEventArgs args)
    {
        if (IsReadonly)
            return;

        IsEditing = true;
        await InvokeAsync(StateHasChanged);
    }
}
