div ::deep .mud-input-control>.mud-input-control-input-container>div.mud-input.mud-input-text {
    margin: 0;
}

div ::deep .mud-input>input.mud-input-root, div.mud-input-slot.mud-input-root {
    padding: 0;
}

div ::deep .mud-input>input.mud-input-root.mud-input-root-filled.mud-input-root-adorned-start, div.mud-input-slot.mud-input-root.mud-input-root-filled.mud-input-root-adorned-start {
    padding: 0;
    padding-inline: 0;
    margin: 0;
    width: fit-content;
}