
<div class="footer">
    <h5 class="link" style="width: 100%;">Copyright © 2023 Kitsune Study.</h5>
    <div style="justify-self: end; display: flex; gap: 10px;">
        <a class="link" href="/terms">Terms of Service</a>
        <a class="link" href="/privacy">Privacy</a>
        @*<h5>contact.kitsunestudy@gmail.com</h5>*@
    </div>
</div>

@code {

}
