@using Microsoft.AspNetCore.Components.Authorization;
@using Manabu.UseCases.Users;
@inherits LayoutComponentBase

<MudThemeProvider Theme=@MyCustomTheme />
<MudDialogProvider/>
<MudSnackbarProvider/>

<main class="main">
    
    @*<TopAndSideMenu
        OnSideMenuSizeChanged=@OnMenuSizeChanged
        MenuIconUrl=@($"{Config.BaseAssetsPath}/images/icons/design/grid.png")
        LogoName="Manabu"
        LogoImageUrl=@($"{Config.BaseAssetsPath}/images/icons/design/mask.png")
        SideMenuButtonGroups=@SideMenuButtonGroups 
        TopMenuButtonGroups=@TopMenuButtonGroups 
        BottomLeftMenuButtonGroups=@BottomLeftMenuButtonGroups 
        OnButtonClick=@OnMenuButtonClick/>*@

    <div class="main-content">
        @Body
    </div>

    <MainMenu />

</main>

@code {
    MudTheme MyCustomTheme = new MudTheme()
    {
        Typography = new Typography()
        {
            Default = new Default()
            {
                FontFamily = new[] { "Lora", "Helvetica", "Arial", "sans-serif" },
            },
            Body1 = new Body1()
            {
                FontSize = "15px"
            },
            H3 = new H3()
            {
                FontFamily = new[] { "Lora", "Helvetica", "Arial", "sans-serif" },
            }
        }
    };

    [Inject] public AuthenticationStateProvider Auth { get; set; }
    [Inject] public NavigationManager Navigation { get; set; }
    [Inject] public ICommandExecutor CommandExecutor { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RedirectIfNotSignedIn();
        Navigation.LocationChanged += OnNavigationLocationChanged;
    }

    private async void OnNavigationLocationChanged(object sender, LocationChangedEventArgs args)
    {
        RedirectIfNotSignedIn();
    }

    private async Task RedirectIfNotSignedIn()
    {
        var relative = Navigation.ToBaseRelativePath(Navigation.Uri);
        if (relative.IsEmpty())
            return;
        
        var state = await Auth.GetAuthenticationStateAsync();
        if (!IsPathPublic(relative) && await Auth.IsSignedIn() is false)
        {
            Navigation.NavigateTo("/", forceLoad: true);
            return;
        }

        bool IsPathPublic(string path)
        {
            if (relative == "terms" ||
                relative == "privacy" ||
                relative == "contact" ||
                relative == AuthenticationStateProviderExtensions.SignInUrl ||
                relative == AuthenticationStateProviderExtensions.SignOutUrl)
            {
                return true;
            }

            return false;
        }
    }

    private async Task OnMenuButtonClick(string id)
    {
        if (id == "login")
        {
            await Auth.SignAction(Navigation);
        }
        else
            Navigation.NavigateTo(id);
    }
}
