.main {
    padding-left: 105px;
    transition: padding-left 300ms ease;
    position: relative;
}

.main-content {
    padding-top: 25px;
    padding-right: 35px;
    padding-bottom: 35px;
}

@media only screen and (max-width: 600px) {
    .main {
        padding-left: 35px;
    }
}
