.main {
    position: relative;
    height: calc(100vh - 72px);
    top: 72px;
    overflow: auto;
}

.main-content {
    padding-left: 335px;
    padding-right: 335px;
    padding-bottom: 35px;
    overflow: hidden;

    display:flex; 
    flex-direction: column; 
    align-items: start;
    position: relative;
}

.main-content-free {
}

@media only screen and (max-width: 1500px) {
    .main-content {
        padding-left: 310px;
        padding-right: 310px;
    }
}

@media only screen and (max-width: 1300px) {
    .main-content {
        padding-left: 135px;
        padding-right: 135px;
    }
}

@media only screen and (max-width: 1000px) {
    .main-content {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 800px) {
    .main-content {
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media only screen and (max-width: 600px) {
    .main-content {
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 15px;
    }
}
