@page "/"
@page "/home"

<div class="main-hero">
    <h1 class="title">Kitsune Study</h1>
    <p class="description">
        Take charge of your learning by accessing a vast library of materials and refining your skills with personalized flashcards.</p>
    <MudButton Style="background: orangered; color: white;" Variant="Variant.Filled" DisableElevation=true>Get Started</MudButton>

    <Footer />
</div>
