@page "/"
@page "/home"
@using Microsoft.AspNetCore.Components.Authorization;

<div class="main-hero">
    <h2 class="title noselect">Kitsune Study</h2>
    <p class="description">
        Learn <strong>Japanese</strong> the way you want with <strong>ease</strong> and <strong>fun</strong>!
    </p>
    <MudButton OnClick=@OnGetStartedButtonClick Style="background: orangered; color: white;" Variant="Variant.Filled" DisableElevation=true>Get Started</MudButton>
    <MudImage Src=@($"{Config.BaseAssetsPath}/images/fox-sleeping.png") Height=100 />
    <Footer />
</div>

@code {
    [Inject] public NavigationManager Navigation { get; set; }
    [Inject] public AuthenticationStateProvider Auth { get; set; }

    [Inject] public State.SiteTitle SiteTitle { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SiteTitle.Rename("");
    }

    protected async Task OnGetStartedButtonClick()
    {
        if (await Auth.IsSignedIn() is false)
        {
            await Auth.SignAction(Navigation);
            return;
        }
        
        Navigation.NavigateTo("/courses");
    }

    private async Task RedirectIfNotSignedIn()
    {
        var relative = Navigation.ToBaseRelativePath(Navigation.Uri);
        var state = await Auth.GetAuthenticationStateAsync();
        if (!relative.IsEmpty() && await Auth.IsSignedIn() is false)
        {
            Navigation.NavigateTo("/", forceLoad: true);
            return;
        }
    }
}
