@page "/terms"
@using Manabu.UI.Common.Components

<MudStack Style="width:100%">
    <SiteTitle>@SiteTitle.Name</SiteTitle>
    <MudStack Style="padding-top: 25px;">
        <MudStack>
            <h3 style="font-weight: bold;">§ 1. General Provisions</h3>
            <MudStack Style="padding-left: 25px;">
                <MudText>
                    1. The Terms of Service provide the terms and conditions of use of the Website and the Kitsune Study System, 
                    including conditions for providing services by electronic means, terms of executing and terminating the Contracts, and complaints procedure.
                </MudText>
                <MudText>
                    2. Using the Website and the Services available through the Website (including access to the Kitsune Study System) requires reading and accepting these Terms of Service.
                </MudText>
                <MudText>
                    3. The Service Provider operates as an independent, sole proprietorship based in Poland, email: contact.kitsunestudy@gmail.com.
                </MudText>
            </MudStack>
        </MudStack>
        <MudStack>
            <h3 style="font-weight: bold;">§ 2. Definitions </h3>
            The capitalised terms used herein have the following meanings:
            <MudStack Style="padding-left: 25px;">
                <MudText>
                    1. Account means a part of the Website that constitutes a set of resources and rights assigned to the Creator or Subscriber respectively, 
                    accessible after signing in (or clicking the Link, in case of the Subscriber).
                </MudText>
                <MudText>
                    2. Act on Consumer Rights means the Act of 30 May 2014 on consumer rights (consolidated text of 21 February 2020, Journal of Laws of 2020, item 28, as amended).
                </MudText>
                <MudText>
                    3. Act on Copyright means the Act of 4 February 1994 on Copyright and Related Rights (consolidated text of 14 June 2021, Journal of Laws of 2021, item 1062, as amended).
                </MudText>
                <MudText>
                    4. Act on Provision of Electronic Services means the Act of 18 July 2002 on the provision of services by electronic means (consolidated text, Journal of Laws of 3 March 2020, item 1219, as amended).
                </MudText>
                <MudText>
                    5. Civil Code means the Act of 23 April 1964, the Civil Code (consolidated text of 8 October 2020, Journal of Laws of 2020, item 1740, as amended).
                </MudText>
                <MudText>
                    6. Consumer means an individual who makes a legal transaction with an Entrepreneur that is not related directly to his/her economic or professional activity.
                </MudText>
                <MudText>
                    7. Contract means a contract for the provision of services by electronic means concluded remotely between Service Provider and Creator or User, the subject and content of which are defined by the provisions of Terms of Service, Price List and Instructions.
                </MudText>
                <MudText>
                    8. Controller of the Subscribers’ Data means the Creator that under the provisions of Article 12 of the Terms of Service or 
                    a separately executed agreement, entrusts the Processor with the Subscribers’ Personal Data for their processing, to perform the Contract for the use of the Kitsune Study System.
                </MudText>
                <MudText>
                    9. Creator means an individual with full legal capacity, a legal person or an organizational unit without legal personality,
                    which is granted legal capacity by law, using the Services, including the functionality of the Kitsune Study System, under the Contract.
                </MudText>
                <MudText>
                    10. Entrepreneur means an individual who is not a Consumer, a legal person or an organizational unit without legal personality,
                    which is granted legal capacity by law, conducting business activity, including partners in a civil partnership to the extent of their business activities.
                </MudText>
                <MudText>
                    11. Fee means the remuneration paid by the Creator to the Service Provider in an amount specified in the Price List (respectively to the selected option) 
                    for the use of paid Services in a given Settlement Period.
                </MudText>
                <MudText>
                    12. GDPR means the Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons in relation to the processing of personal data and on the free movement 
                    of such data and repealing Directive 95/46/EC (General Data Protection Regulation.
                </MudText>
                <MudText>
                    13. Instructions mean any information and notices concerning a description of the current functionalities, 
                    capabilities, and working principles of the Kitsune Study System placed on the Website.
                </MudText>
                <MudText>
                    14.Link means a coded link generated and individually assigned to the Subscriber, 
                    the clicking of which confirms the creation of the Account and enables the Subscriber to access it; the Subscriber receives the Link in an email sent after the purchase of the Creator ‘s product or service using the MailingR System.
                </MudText>
                <MudText>
                    15. Kitsune Study means an IT solution (software together with elements that are not software) made available by the Service Provider to Creator in the SaaS model,
                    equipped with a set of functionalities referred to in Terms of Service, Price List and Instructions
                </MudText>
        </MudStack>
    </MudStack>
    </MudStack>
</MudStack>

@code {
    [Inject] public State.SiteTitle SiteTitle { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SiteTitle.Rename("TERMS OF SERVICE");
    }
}
