@page "/vocabulary"

@using Manabu.UseCases.Plans;
@using Corelibs.Basic.Reflection;

@*<FullBg ImageUrl=@($@"{Config.BaseAssetsPath}/images/general/main-bg.png") />*@

@if (_plans is null) { return; }

<div class="grid-1x2f">
    <div class="v-list">
        <div class="grid-1x2">
            <List
                Title="Your Plans"
                ListItems=@_listItems
                OnAddItemOnTop=@OnAddItem
                OnMenuOptionSelected=@OnWorkoutPlansListDropdownOptionSelected />
        </div>
    </div>
</div>

@code {
    [Inject] public IQueryExecutor QueryExecutor { get; set; }
    [Inject] public ICommandExecutor CommandExecutor { get; set; }
    [Inject] public NavigationManager Navigation { get; set; }

    private PlanDTO[] _plans;
    private List<List.ListItem> _listItems = new()
    {
        new("")   
    };

    protected override async Task OnInitializedAsync()
    {
        await RefreshViewModel();
    }

    private async Task<bool> OnWorkoutPlansListDropdownOptionSelected(Dropdown.Option option)
    {
        Console.WriteLine(option.ToString());
        return true;
    }

    private async Task<bool> OnOwnershipFilterDropdownModelOptionSelected(Dropdown.Option option)
    {
        Console.WriteLine(option.ToString());
        return true;
    }

    private async Task<bool> OnAddItem(string name)
    {
        //await CommandExecutor.Execute(new CreatePlanCommand(name));
        //await RefreshView();
        return false;
    }

    private Task OnItemClick(string id)
    {
        //Console.WriteLine("OnItemClick");
        return Task.CompletedTask;
    }

    protected async Task<bool> RefreshView()
    {
        //await RefreshViewModel();
        ///await InvokeAsync(StateHasChanged);
        return true;
    }

    protected async Task RefreshViewModel()
    {
        //var response = await QueryExecutor.Execute<GetOwnPlansQuery, GetOwnPlansQueryResponse>();
        //_plans = response?.Plans;

        _listItems = _plans.Select(p => new List.ListItem(p.Id, p.Name)).ToList();
    }

    private static Dropdown.ViewModel DropdownModel = new(
        Options: new()
        {
            "Add",
            "Remove",
            "Edit"
        },
        Trigger: new(IsFixed: true, Value: "Menu", Mode: Dropdown.Mode.Component)
    );

    private Dropdown.ViewModel OwnershipFilterDropdownModel = new(
        Options: new()
        {
            "Own",
            "Public",
            "All"
        },
        Trigger: new(BgOn: true)
    );
}
