@page "/words/linguistics/adjectives"

@using Manabu.UI.Common.Components;

@inherits CoreComponent

<div class="main-section courses" style="width: 100%;">
    <SiteTitle>@SiteTitle.Name</SiteTitle>
    <WordsGrid 
        PartOfSpeeches=@WordsGrid.PartOfSpeech.Adjective  
        FilteringAndSortingEnabled=false />
</div>

@code {
    [Inject] public State.SiteTitle SiteTitle { get; set; }

    protected override async Task OnInitializedAsyncImpl()
    {
        SiteTitle.Rename("VERBS");
    }
}
