div ::deep .mud-switch-button .mud-switch-thumb-medium {
    border-radius: 0;
    background-image: url('images/wall.jpg');
    background-size: cover;
    background-color: red;
}

div ::deep .mud-switch-span .mud-switch-track {
    border-radius: 0;
    background-color: black !important;
    opacity: 0.8;
    background-image: url('images/wall.jpg') !important;
    filter: brightness(50%);
}

div ::deep 
    .switch > 
    .mud-input-control-input-container >
    .mud-switch > 
    p {
    font-weight: bold;
}

div ::deep .exp-panel > .mud-expand-panel-header {
    display: none;
}

div ::deep .exp-panel > .mud-collapse-container > .mud-collapse-wrapper > .mud-collapse-wrapper-inner > .mud-expand-panel-content {
    padding: 0;
}

div ::deep .exp-panel > .mud-collapse-container > .mud-collapse-wrapper > .mud-collapse-wrapper-inner > .mud-expand-panel-content {
    padding: 0;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
